<a href="https://colab.research.google.com/github/19PA1A0553/7-3-2020/blob/master/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

In [64]:
df=pd.read_csv("Iris.csv")
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [65]:
df["SepalLengthCm"][1]

4.9

In [84]:
s=df[(df['SepalLengthCm'])>5/(df["PetalLengthCm"])>1]
s

ValueError: ignored

In [0]:
def add2(x):
  return(x+2)
new=df['SepalLengthCm'].apply(add2)

In [68]:
df["new"]=new
df

      Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm         Species  new
0      1            5.1           3.5  ...           0.2     Iris-setosa  7.1
1      2            4.9           3.0  ...           0.2     Iris-setosa  6.9
2      3            4.7           3.2  ...           0.2     Iris-setosa  6.7
3      4            4.6           3.1  ...           0.2     Iris-setosa  6.6
4      5            5.0           3.6  ...           0.2     Iris-setosa  7.0
..   ...            ...           ...  ...           ...             ...  ...
145  146            6.7           3.0  ...           2.3  Iris-virginica  8.7
146  147            6.3           2.5  ...           1.9  Iris-virginica  8.3
147  148            6.5           3.0  ...           2.0  Iris-virginica  8.5
148  149            6.2           3.4  ...           2.3  Iris-virginica  8.2
149  150            5.9           3.0  ...           1.8  Iris-virginica  7.9

[150 rows x 7 columns]

In [76]:
x=df[["SepalLengthCm","SepalWidthCm","PetalLengthCm")]]
y=df["PetalWidthCm"]

SyntaxError: ignored

In [77]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

ValueError: ignored

In [78]:
from sklearn.linear_model import LogisticRegression
logmodel= LogisticRegression
logmodel.fit(x_train,y_train)
predictions=logmodel.predict(x_test)

NameError: ignored