<a href="https://colab.research.google.com/github/19PA1A0553/7-3-2020/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [38]:
a=pd.read_csv("students_placement_data.csv")
a

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [21]:
a.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
x=a[["SSC Percentage","inter_Diploma_percentage"]]
y=a["B.Tech_percentage"]

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2)

In [44]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
model.intercept_

-4.919589695093471

In [46]:
model.coef_

array([0.08466126, 0.76353741])

In [56]:
predicted=model.predict(X_test)
predicted

array([71.93916665, 49.65164839, 65.70244595, 40.27918811, 70.79163792,
       68.77336922, 69.95174678, 60.86565165, 43.79130157, 53.17805335,
       72.77762823, 71.05916749, 70.68956858, 71.26330617, 72.2030976 ,
       74.46857717, 65.47888277, 59.98501598, 68.27947895, 61.96047823,
       57.93865252, 63.12747904, 53.15402683, 51.75748897])

In [86]:
Actual_predicted=pd.DataFrame({"Actual": Y_test, "Predicted": predicted})
Actual_predicted

     Actual  Predicted
61    74.30  71.939167
27    38.00  49.651648
21    73.01  65.702446
14    50.55  40.279188
114   76.30  70.791638
75    56.88  68.773369
39    67.50  69.951747
46    59.53  60.865652
56    31.20  43.791302
11    49.67  53.178053
71    59.00  72.777628
67    75.13  71.059167
8     53.00  70.689569
82    57.80  71.263306
81    70.09  72.203098
102   76.35  74.468577
116   65.53  65.478883
38    51.00  59.985016
78    65.60  68.279479
112   35.84  61.960478
105   57.30  57.938653
91    68.70  63.127479
111   61.00  53.154027
28    64.36  51.757489

In [96]:
import seaborn as sns
sns.plot("Actual","Predicted",find="box")

AttributeError: ignored